* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  background-color: #000000;
  max-width: 100%;
  overflow-x: hidden;
}
body header {
  background-color: #48cae4;
  block-size: 70px;
  position: sticky;
  top: 0px;
  width: 100%;
}
body header nav {
  text-align: center;
}
body header nav ul {
  list-style: none;
}
body header nav ul li {
  float: left;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
}
body header nav ul li a {
  display: block;
  padding: 1rem;
  color: #000000;
  text-decoration: none;
}
body header nav ul li :hover {
  background: #caf0f8;
}
body main {
  display: grid;
  flex-direction: row;
}
body main section {
  padding: 3rem;
}
body main section .contenidoP {
  background-color: #000000;
  border: solid;
  writing-mode: horizontal-tb;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100px 100px;
  grid-template-areas: "name foto" "tex foto";
  flex-direction: row;
  justify-content: center;
  align-items: start;
  justify-items: start;
  border-color: blueviolet;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
body main section .contenidoP .imgME {
  background-image: url(../medios/fotomia.jpeg);
  background-repeat: no-repeat;
  block-size: 30px 30px;
  background-size: 250%;
  border: 3px solid blueviolet;
  border-radius: 2rem;
  height: 60rem;
  width: 43rem;
  background-position-x: 49%;
  background-position-y: 39%;
  grid-area: foto;
  border-color: blueviolet;
}
body main section .contenidoP .titulos {
  font-family: "Merriweather", serif;
  font-size: 50px;
  overflow: hidden;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 20px 20px;
  letter-spacing: 2px;
  grid-area: name;
  border-color: #48cae4;
  background-color: rgb(255, 255, 255);
  width: 135%;
  border-color: blueviolet;
  border-bottom-right-radius: 50%;
}
body main section .contenidoP .texto {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  height: 91px;
  display: inline-block;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 3rem 12rem;
  padding-left: -8rem;
  grid-area: tex;
  border: 2px solid blueviolet;
}
body main section .contenidoDos {
  width: 10%;
  background-size: 50px;
  background-position: 30% 50%;
  background-color: rgb(144, 175, 202);
  padding: 50px 10px 50px 10px;
  display: grid;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 2rem;
  width: 83rem;
  grid-template-rows: 194px;
  grid-template-areas: "scrip scrip html css git";
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 7px solid blueviolet;
}
body main section .contenidoDos .contenidoDosTexto {
  color: rgb(0, 0, 0);
  font-size: 4rem;
  height: 50%;
  grid-area: scrip;
}
body main section .contenidoDos .imgHTML {
  background-image: url(../medios/html.png);
  background-repeat: no-repeat;
  block-size: 30px 30px;
  background-size: 100%;
  height: 10rem;
  width: 11rem;
  background-position-x: 45%;
  background-position-y: 50%;
  grid-area: html;
  block-size: 100%;
}
body main section .contenidoDos .imgcss {
  background-image: url(../medios/css.png);
  background-repeat: no-repeat;
  block-size: 30px 30px;
  background-size: 100%;
  height: 10rem;
  width: 10rem;
  background-position-x: 45%;
  background-position-y: 40%;
  grid-area: css;
}
body main section .contenidoDos .imgGit {
  background-image: url(../medios/git.png);
  background-repeat: no-repeat;
  block-size: 30px 30px;
  background-size: 100%;
  height: 10rem;
  width: 10rem;
  background-position-x: 45%;
  background-position-y: 40%;
  grid-area: git;
}

main {
  display: grid;
  flex-direction: row;
}
main .contacto {
  background-image: url(../medios/ig.png);
  background-position: 37% 43%;
  background-size: 40px;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  border: solid #03045e;
  background-color: #000000;
  display: flex;
  flex-direction: column;
}
main .contacto .tituloContacto {
  font-family: "Merriweather", serif;
  font-size: 50px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
}
main .contacto .textoContacto {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
main .contacto .contactoWsp {
  background-image: url(../medios/wsp.png);
  background-size: 43px;
  background-position: 28% 45%;
  background-repeat: no-repeat;
  text-align: center;
}
main .contacto .contactoGmail {
  background-image: url(../medios/logoGmail.png);
  background-size: 65px;
  background-position: 26% 45%;
  background-repeat: no-repeat;
  text-align: center;
}
main .set {
  background-color: #000000;
  border: solid #000000;
}
main .set form {
  background-color: black;
  color: white;
}
main .set .formulario {
  display: flex;
  flex-direction: column;
}
main .set .nameFormulario {
  display: flex;
  flex-direction: column;
}
main .set .casillasFormulario {
  display: flex;
  flex-direction: column;
}

main section .tituloBlog {
  font-size: 5rem;
  text-align: center;
  color: white;
}
main section .textoblog {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: white;
}
main .mapa {
  background-color: black;
  font-family: "Merriweather", serif;
  font-size: 3rem;
  border: #48cae4;
  text-align: center;
  block-size: 510px;
  writing-mode: horizontal-tb;
  border: solid blueviolet;
}
main .mapa .texmap {
  font-size: 5rem;
  font-family: "Merriweather", serif;
  color: white;
}

main .proyectos {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 100px;
  grid-template-areas: "titu titu" "p p";
}
main .proyectos .proyTitulo {
  font-family: "Merriweather", serif;
  color: rgb(0, 0, 0);
  font-size: 7rem;
  text-align: center;
  grid-area: titu;
  background-color: #fff;
  border-radius: 53rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  justify-content: space-around;
  padding: 2rem;
  width: 97rem;
  margin-top: 9rem;
  border: solid blueviolet;
}
main .proyectos .pryTexto {
  background-color: burlywood;
  font-size: 2rem;
  grid-area: p;
  height: 23rem;
  margin-top: 12rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  justify-content: space-around;
  padding: 4rem;
  width: 111rem;
}
main .proyectos .pryTexto .hub {
  background-size: 13rem;
  background-repeat: no-repeat;
  height: 13rem;
  padding-left: 45rem;
}
main .proyectos .pryTexto .visitala {
  font-size: 3rem;
  text-align: center;
  height: 11rem;
}

footer {
  width: 100%;
  height: 81px;
  position: sticky;
  top: 0px;
  width: 100%;
  block-size: 50px;
  background-color: #48cae4;
}

@media only screen and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
  }
  html {
    overflow: none;
  }
  main {
    flex-direction: column;
  }
  body {
    background-color: blueviolet;
    max-width: 100%;
  }
  header {
    font-size: 1rem;
    position: sticky;
    top: 0px;
    width: 100%;
  }
  .contenidoP {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: "foto" "name" "tex" "tex";
    justify-items: center;
    width: 1%;
    border-radius: 2rem;
  }
  .contenidoP .imgME {
    background-image: none;
    height: 1rem;
    width: 1rem;
  }
  .contenidoP .titulos {
    font-size: 3rem;
    width: 1rem;
    text-align: center;
  }
  .contenidoP .texto {
    font-size: 1.5rem;
    height: 1px;
    padding-left: 1rem;
  }
  .textoblog {
    font-size: 2rem;
    width: 100%;
  }
  .mapa {
    font-size: 3rem;
    width: 100%;
  }
  footer {
    padding-top: 1rem;
    height: 81px;
    position: sticky;
    top: 0px;
    width: 100%;
  }
  .proyectos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "titu" "p";
  }
  .proyectos .proyTitulo {
    width: 0rem;
    height: 0rem;
    align-items: start;
    grid-area: titu;
  }
  .proyectos .pryTexto {
    width: 1rem;
    grid-area: p;
    margin-top: 0;
  }
  .contacto {
    font-size: 1.5rem;
    background-image: none;
  }
  .textoContacto {
    font-size: 2.1rem;
  }
  .tituloContacto {
    font-size: 3.3rem;
  }
  .contactoWsp {
    background-image: none;
  }
  .contactoGmail {
    background-image: none;
  }
  .contenidoDos {
    background-position: 3% 5%;
    background-color: rgb(144, 175, 202);
    padding: 5px 1px 5px 1px;
    display: grid;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 2rem;
    width: 1rem;
    grid-template-columns: 1fr;
    grid-template-columns: 100px;
    grid-template-areas: "scrip" "scrip" "html" "css" "git";
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 7px solid blueviolet;
    height: 1rem;
  }
  .contenidoDos .imgHTML {
    background-image: none;
    background-repeat: no-repeat;
    block-size: 3px 3px;
    background-size: 100%;
    height: 0rem;
    width: 0rem;
    background-position-x: 4%;
    background-position-y: 5%;
    grid-area: html;
    block-size: 1%;
  }
  .contenidoDos .imgcss {
    background-image: url(../medios/css.png);
    background-repeat: no-repeat;
    block-size: 3px 3px;
    background-size: 1%;
    height: 1rem;
    width: 1rem;
    background-position-x: 4%;
    background-position-y: 4%;
    grid-area: css;
  }
  .contenidoDos .imgGit {
    background-image: url(../medios/git.png);
    background-repeat: no-repeat;
    block-size: 3px 3px;
    background-size: 1%;
    height: 1rem;
    width: 1rem;
    background-position-x: 4%;
    background-position-y: 4%;
    grid-area: git;
  }
  nav ul li {
    font-size: 1.7rem;
  }
}/*# sourceMappingURL=estilos.css.map */