
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 1.5rem;
    background-color: #000000;
    max-width: 100%;
    overflow-x: hidden;
}
main{
    display: grid;
   flex-direction: row;
    
}
header{
    background-color: #48cae4;
    block-size: 70px;
    position: sticky;
    top: 0px;
    width: 100%;
    
}
.contenidoP{
    background-color: #000000;
    border: solid;
    writing-mode: horizontal-tb;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100px 100px;
    grid-template-areas: 
    "name foto"
    "tex foto";
    flex-direction: row;
    justify-content: center;
    align-items: start;
    justify-items: start;
    border-color: blueviolet;
}
.imgME{
    background-image: url(../medios/fotomia.jpeg);
    background-repeat: no-repeat;
    block-size: 30px 30px;
    background-size: 250%;
    border: 3px solid var(--black);
    border-radius: 7rem;
    height: 60rem;
    width: 43rem;
    background-position-x: 49%;
    background-position-y: 39%;
    grid-area: foto;
    border-color: blueviolet;
    
}

.lista{
    color: black;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    
}
.abajo{
    block-size: 50px;
    background-color: #48cae4;

}

.titulos{
    font-family: 'Merriweather', serif;
    font-size: 50px;
    overflow: hidden;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    letter-spacing: 2px;
    grid-area: name;
    border-color: #48cae4;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border: solid blueviolet;
    border-bottom-right-radius: 50%;
}
.texto{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    width: 70%;
    height: 50px;
    display: inline-block;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 2rem 2rem;
    padding-left: 15rem;
    grid-area: tex;
    border-color: blueviolet;
    background-color: white;
}
.textoblog{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: white;
}
.contacto{
    background-image: url(../medios/ig.png);
    background-position: 37% 43%;
    background-size: 40px;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    border: solid #03045e;
    background-color: #023e8a;
    display: flex;
    flex-direction: column;
}
.textoContacto{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: black;
}
.contactoWsp{
    background-image: url(../medios/wsp.png);
    background-size: 43px;
    background-position: 28% 45%;
    background-repeat: no-repeat;
    text-align: center;
}
.contactoGmail{
    background-image: url(../medios/logoGmail.png);
    background-size: 65px;
    background-position: 26% 45%;
    background-repeat: no-repeat;
    text-align: center;
}  
.contenidoP header{
    height: 80px;
}
.contenidoP main{
    height: 100vh;
    background-color: red;
}
footer{
    width: 100%;
    height: 81px;
    position: sticky;
    top: 0px;
    width: 100%;
}
nav {
    text-align: center;
    
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    float: left;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
  }
  nav ul li a {
    display: block;
    padding: 1rem;
    color: #000000;
    text-decoration: none;
  } 
  nav ul li:hover {
    background: #caf0f8;
  }
.tituloContacto{
    font-family: 'Merriweather', serif;
    font-size: 50px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    color: black;
}

form{
    background-color: black;
    color: white;
}


.contenidoDos{
    width: 10%;
    background-size: 50px;
    background-position: 30% 50%;
    background-color: rgb(144, 175, 202);
    padding: 50px 10px 50px 10px;
    display: grid;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -4px rgba(0,0,0,.1);
    box-sizing: border-box;
    padding: 2rem;
    width: 82rem;
    grid-template-rows:  100px;
    grid-template-areas: 
    "scrip scrip"
    "html css";
    gap: 20px;
    flex-direction: column;
    align-items: center;             
    justify-content: center;

}
.imgHTML{
    background-image: url(../medios/html.png);
    background-repeat: no-repeat;
    block-size: 30px 30px;
    background-size: 100%;
    height: 10rem;
    width: 10rem;
    grid-area: html;
    block-size: 100%;

}
.contenidoDosTexto{
    font-family: 'Merriweather', serif;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    height: 50%;
    grid-area: scrip;
}
.a{
    background-color: blueviolet;
}
section{
    padding: 3rem;
}
.imgcss{
    background-image: url(../medios/css.png);
    background-repeat: no-repeat;
    block-size: 30px 30px;
    background-size: 100%;
    height: 10rem;
    width: 10rem;
    background-position-x: 45%;
    background-position-y: 40%;
    grid-area: css;
}
.f{
    display: flex;
    background-size: 12% 210%
}
.proyectos{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    grid-template-areas: 
    "titu titu"
     "p p";
}
.proyTitulo{
    font-family: 'Merriweather', serif;
    color: rgb(0, 0, 0);
    font-size: 7rem;
    text-align: center;
    grid-area: titu;
    background-color: #fff;
    border-radius: 53rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -4px rgba(0,0,0,.1);
    box-sizing: border-box;
    justify-content: space-around;
    padding: 2rem;
    width: 97rem;
    margin-top: 9rem;
    border: solid blueviolet;
}
.pryTexto{
    background-color: burlywood;
    font-size: 2rem;
    grid-area: p;
    height: 23rem;
    margin-top: 12rem;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -4px rgba(0,0,0,.1);
    box-sizing: border-box;
    justify-content: space-around;
    padding: 4rem;
    width: 111rem;
    
}
.mapa{
    background-color: black;
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    border: #48cae4;
    text-align: center;
    block-size: 510px;
    writing-mode: horizontal-tb;
    border: solid blueviolet;
    
}   
.texmap{
    font-size: 5rem;
    font-family: 'Merriweather', serif;
    color: white;
}
.set{
    background-color: #023e8a;
    border: solid #03045e;
}
.imagen{
    background-image: url(../medios/css.png);
    background-repeat: no-repeat;
    
}
.card{
    width: 150rem;
    height: 10px;
    background-color: red;
    margin: 5px;
    flex-grow: 1;
    flex-basis: 200;
}
.formulario{
    display: flex;
    flex-direction: column;
}
.casillasFormulario{
    display: flex;
    flex-direction: column;
}
.nameFormulario{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 480px) {
    *{
        margin: 0;
        padding: 0;
    }
    html{
        overflow: none;
    }
    main{
        flex-direction: column;
    }
    body{
        background-color: blueviolet;
        max-width: 100%;
        
    }
    header{
        font-size: 1rem;
        position: sticky;
        top: 0px;
        width: 100%;
    }
    .contenidoP{
        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 100px);
        grid-template-areas:
            "foto"
            "name"
            "tex"
            "tex";
        justify-items: center;
        width: 1%;
        border-radius: 2rem;
    }
    .titulos{
        font-family: "Merriweather", serif;
        font-size: 50px;
        overflow: hidden;
        text-align: center;
        color: rgb(0, 0, 0);
        padding: 20px 20px;
        letter-spacing: 2px;
        grid-area: name;
        border-color: #48cae4;
        background-color: rgb(255, 255, 255);
        width: 1rem;
        border-color: blueviolet;
        border-bottom-right-radius: 50%;

    }
    .textoblog{
        font-size: 2rem;
        width: 100%;
    } 
    .mapa{
        font-size: 3rem;
        width: 100%;
        
    }
    footer{
        padding-top: 1rem;
        height: 81px;
        position: sticky;
        top: 0px;
        width: 100%;
    }
    .proy{
        font-size: 1.2rem;
    }s
    .pry2{
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }
    .contacto{
        font-size: 1.5rem;
        background-image: none;
    }
    .textoContacto{
        font-size: 2.1rem;
    }
    .tituloContacto{
        font-size: 3.3rem;
    }
    .contactoWsp{
        background-image: none;
    }
    .contactoGmail{
        background-image: none;
    }
    .texto{ 
        font-family: "Oswald", sans-serif;
        font-size: 2.5rem;
        height: 91px;
        display: inline-block;
        text-align: center;
        color: rgb(255, 255, 255);
        margin: 3rem 4rem;
        padding-left: -8rem;
        grid-area: tex;
        border: 2px solid blueviolet;   
    }
    .contenidoDos{  
        box-sizing: border-box;
        padding: 2rem;
        width: 20rem;
        grid-template-rows: -6px;
        grid-template-areas: 
        "scrip"
        "html"
        "css"
        "git";
        gap: 20px;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 7px solid violet;
    }
    .imgME{     
        background-repeat: no-repeat;
        block-size: 30px 30px;
        background-size: 250%;
        border: 3px solid blueviolet;
        border-radius: 2rem;
        height: 28rem;
        width: 30rem;
        background-position-x: 49%;
        background-position-y: 39%;
        grid-area: foto;
        border-color: blueviolet;
    }
    nav ul li{
        font-size: 1.7rem;
    }
}
@media only screen and (max-width:413px) {
    body{
        background-color: rgb(0, 0, 0);
    }
    header{
        font-size: 1rem;
        block-size: 6rem;
    }
    nav ul li{  
        font-size: 1.5rem;
    }
    .proyectos{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 100px;
        grid-template-areas: 
        "titu" 
        "titu"
         "p" 
         "p";
    }
    .proyTitulo{
        font-family: 'Merriweather', serif;
        color: rgb(0, 0, 0);
        font-size: 3rem;
        text-align: center;
        grid-area: titu;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -4px rgba(0,0,0,.1);
        box-sizing: border-box;
        justify-content: space-around;
        padding: 2rem;
        width: 100%;
        margin-top: 1rem;
        border: solid blueviolet;
    }
    .pryTexto{
        background-color: burlywood;
        font-size: 2rem;
        grid-area: p;
        height: 23rem;
        margin-top: 2rem;
        background-color: #fff;
        border-radius: 2rem;
        box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -4px rgba(0,0,0,.1);
        box-sizing: border-box;
        justify-content: space-around;
        padding: 4rem;
        width: 100%;
        border: solid blueviolet;

    }
    
}   