.mainBlog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 56rem;
    section{
        .tituloBlog{
            font-size: 5rem;
            text-align: center;
            color: $blanco;
            text-decoration: underline $bordevioleta;
        }
        .textoblog{
            font-family: $letraOswald;
            font-size: 30px;
            color: $blanco; 
        }
    }
    .mapa{
        background-color: $negro;
        font-family: $letraMerri;
        font-size: 3rem;
        border: #48cae4;
        text-align: center;
        block-size: 510px;
        writing-mode: horizontal-tb;
        border: solid $bordevioleta;
        .texmap{
            font-size: 5rem;
            font-family: $letraMerri;
            color: $blanco;
        }
    }
}