header{
    background-color: white;
}
.proy{
    background-color: #4a4e69;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    grid-template-areas: 
    "titu foto" 
    "dp estu" 
    "habi com"
    "el el";
    justify-items: start;
    align-items: center;
    .tituloProy{
        font-size: 6rem;
        color: white;
        text-align: center;
        grid-area: titu;
        width: 55rem;
        font-family: "Protest Strike", sans-serif;
        border: 4mm ridge black;
        margin-bottom: 6rem;
    }
    .hdatos{
        font-size: 3rem;
        font-family: "Protest Revolution", sans-serif;
        margin-bottom: 2rem;
        color: white;

    }
    .datos_personales{
        font-size: 2rem;
        grid-area: dp;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 1rem;
        margin-left: 2rem;
        color: white;
        margin-top: -29rem;

    }
    .foto_cu{
        background-image: url("/medios/fotocurri.jpeg");
        background-repeat: no-repeat;
        grid-area: foto;
        width: 32rem;
        height: 32rem;
        background-position-x: 47%;
        background-position-y: 36%;
        border-radius: 7rem;
        border: 3px solid black;
        margin-left: 14rem;
    }
    .hestu{
        font-size: 3rem;
        font-family: "Protest Revolution", sans-serif;
        color: white;
    }
    .estudios{
        font-size: 2rem;
        grid-area: estu;
        font-family: "Montserrat", sans-serif;
        margin-top: 8rem;
        margin-left: 2rem;
        color: white;
    }
    .hel{
        font-size: 3rem;
        font-family: "Protest Revolution", sans-serif;
        color: white;
    }
    .experiencia_laboral{
        font-size: 2rem;
        grid-area: el;
        font-family: "Montserrat", sans-serif;
        margin-left: 66rem;
        color: white;
        margin-top: -23rem;
        width: 34rem;

    }
    .hcom{
        font-size: 3rem;
        font-family: "Protest Revolution", sans-serif;
        color: white;
    }
    .competencia{
        font-size: 2rem;
        grid-area: com;
        font-family: "Montserrat", sans-serif;
        margin-left: -60rem;
        color: white;
        margin-top: 2rem;
        margin-left: -63rem;
    }
    .hhabi{
        font-size: 3rem;
        font-family: "Protest Revolution", sans-serif;
        color: white;
    }
    .habilidades{
        font-size: 2rem;
        grid-area: habi;
        font-family: "Montserrat", sans-serif;
        margin-left: 2rem;
        color: white;
        margin-top: -42rem; 
        width: 57rem;
    }
}