$bordevioleta: blueviolet;
$negro: black;
$letraOswald: 'Oswald', sans-serif;
$letraMerri: 'Merriweather', serif;
$letraFooter: "Inconsolata", monospace;
$blanco: white;
$letraMonte: "Montserrat", sans-serif;
$letraPro: "Protest Revolution", sans-serif;